@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  border-radius: 5px;
  will-change: filter;
  transition: filter 300ms, scale 300ms, border-radius 300ms;
}
.card:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  scale: 1.05;
  border-radius: 20px;
}
/* .card.img:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
.img {
  will-change: border-radius;
  transition: border-radius 300ms;
}
.card:hover .img {
  border-radius: 20px;
}
/* button {
  will-change: filter;
  transition: filter 100ms;
} */
/* button:hover {
  filter: drop-shadow(0 0 1em #646cffaa); */
/* scale: 1.05; */
/* } */

/* @keyframes logo-grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  } 
} */

/* .logo:hover {
  animation: logo-grow 1s;
} */
